*{
    margin: 0;
    padding: 0;
    color: white;
    
}
.container{
    width: 90%;
    margin: 1% auto 0;

    display: grid;

    gap: 10px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 120px 60px 100px 400px 50px;
}
.header{
    background-color: orange;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.menu{
    background-color: red;
    grid-column: 1/-1;
    grid-row: 2/3;
   
}
.box1{
    background-color: blueviolet;
    
}
.box2{
    background-color: pink;
    
}
.sidebar{
    background-color: blue;
    grid-column: 3/4;
    grid-row: 3/5;
}
.content{
    background-color: gray;
    
    grid-column: 1/3;
    grid-row: 4/auto;
    
}
.footer{
    background-color: red;
    grid-column: 1/-1;
    
}